{{ define "_head" }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ $.Title }}</title>

    <link href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap-icons-1.11.1/bootstrap-icons.min.css" rel="stylesheet" type="text/css">
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script src="/static/bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/layout.css" rel="stylesheet" type="text/css">
    <link href="/static/custom.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
{{end}}
